<!DOCTYPE html>
<html>
  <head>
    <title>MY APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MY APP</h1>
    <p>Welcome to HOME page</p>
    <p id="studentData"></p>
  </body>
</html>

<!-- <script>
  document.getElementById('studentData').append('haripriya')
</script> -->
